* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	background-color: #2C2C29;
	height: 0px;
	color: white;
	
}

.logo {
	margin: 195px auto;
	font-family: Oldtown, fantasy;
	font-size: 80px;
}

.googleButton {
	margin: 20px 15px;
}

.blog-logo {
	font-family: Oldtown, fantasy;
	margin: 10px 0;
}


.color {
	color: white;
}

.post-form {
	margin: 5px auto;
}

.submit-button {
	display: flex;
	margin: 0 auto;
}

.card-post {
	color: black;
	display: inline-block;
	margin: 20px 10px;
}

.post-content {
	line-height: 2.0;
	text-align: justify;
	margin: 15px 0;
	padding: 10px 50px 20px;
	text-indent: 50px;
}

.post {
	text-align: center;
}

.author {
	text-align: left;
	margin: 15px 105px;
	font-weight: bold;
	font-style: italic;
}

.comment {
	padding: 10px 80px 20px;
}

.comment-section {
	margin: 50px 105px;
}

.user-icon {
	font-size: 50px;
}

.user-name {
	
}

.user-comment {
	text-indent: 50px;
}

.user-time {
	font-size: 11px;
}